<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Video Upload</title>
  <style>
    
:root {
    --vue-green: #42b883;
    --vue-black: rgb(20, 23, 26);
    --vue-light: #ffffff;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--vue-black);
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color: var(--vue-light);
}

h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
    padding-inline: 20px;
    border-radius: 5px; 
    background: linear-gradient(to right, rgb(106, 117, 182), #42b883);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}



form {
    background-color: rgb(52, 52, 52);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 80px;
    padding-inline: 10px;
    border-radius: 3%;
    align-items: center;
    border: 0.1rem solid var(--vue-green);
    
}

form:hover{
    box-shadow: 0px 0px 15px rgba(66, 184, 131, 0.5);
    /* background-color: rgb(101, 141, 94); */
    transform: translateY(-3px);

}

input[type="file"] {
    padding: 10px;
    margin-top: 50px;
    border: 2px solid var(--vue-green);
    background-color: var(--vue-light);
    color: var(--vue-black);
    border-radius: 5px;
    cursor: pointer;
    width:  92%;
    transition: border-color 0.3s ease;
}

input[type="file"]::file-selector-button {
    padding: 10px;
    background-color: var(--vue-green);
    color: var(--vue-light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="file"]::file-selector-button:hover {
    background-color: #36a071; 
}

button {
    padding: 10px 20px;
    background-color: var(--vue-green);
    color: var(--vue-light);
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #36a071;
    box-shadow: 0px 0px 5px 5px rgba(0, 255, 170, 0.8);
}

button:active {
    transform: translateY(2px);
}

@media (max-width: 600px) {
    h1 {
        font-size: 28px;
    }

    input[type="file"],
    button {
        width: 100%;
    }
}

  </style>
</head>
<body>
 
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <h1>Upload Your Video</h1>
    <input type="file" name="video" accept="video/*" required />
    <button type="submit">Upload</button>
  </form>
</body>
</html>
