<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>ADAPTIVE BIT RATE STREAMING</h1>
    <nav>
        <a href="/all_videos">All Videos</a>
        <a href="/add_video">Upload Video</a>
    </nav>
</body>
</html>
